* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ====Pre-load Animation */
.oxSvg {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#osSvg {
    animation: fill 0.5s ease forwards 3s;
}

.oxSvg svg path:nth-child(1) {
    stroke-dasharray: 474.24px;
    stroke-dashoffset: 474.24px;
    animation: line-animation 2s ease forwards 1.5s;
}

.oxSvg svg path:nth-child(2) {
    stroke-dasharray: 450.26px;
    stroke-dashoffset: 450.26px;
    animation: line-animation 3s ease forwards 1s;
}

#loading-animation {
    width: 100%;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
}

.fade-out {
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: #fff;
    }
}

/* ========================================== */
body {
    background: url(bg.jpeg);
    text-align: center;
}

h1 {
    color: rgb(42 37 201);
    margin: 10px 10px;
    font-size: 3rem;
}

h1 span a {
    color: rgb(233, 17, 17);
}

.hide {
    display: none;
}

.container {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    background-color: rrgb(105 159 72 / 26%);
    backdrop-filter: blur(30px);
}

.box {
    height: 15vmin;
    width: 15vmin;
    color: rgb(43, 255, 0);
    background-color: rgb(201, 111, 148);
    font-size: 3.5rem;
    border: 0;
    border-radius: 2rem;
    box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff41;
    transition: 1s;
}

.box:hover,
#rstBtn:hover {
    background-color: rgb(201, 59, 106);
}

#rstBtn {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 20px 20px 50px #b11414d1, inset 20px 20px 60px #992f2fb8;
    transition: .4s;
}

#msg {
    font-size: 2rem;
    margin: 1.5rem;
    color: rgb(17, 10, 233);
}

@media only screen and (max-width: 540px) {
    .box {
        height: 6rem;
        width: 5rem;
        border-radius: 1rem;
    }

    .game {
        margin-top: 2rem;
    }

    .container {
        min-height: 80vmin;
    }
}

@media only screen and (max-width: 452px) {
    .game {
        margin-top: 4rem;
    }

    .box {
        height: 4rem;
        width: 4rem;
        border-radius: 1rem;
    }

    .container {
        min-height: 90vmin;
    }
}

@media only screen and (max-width:380px) {
    .box {
        height: 4rem;
        width: 3rem;
        border-radius: .5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        min-height: 110vmin;
    }
}

@media only screen and (max-width:290px) {
    .box {
        height: 2rem;
        width: 2rem;
        border-radius: .5rem;
    }
}